@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{                                              /*removing margins and paddings universally*/
    margin: 0;
    padding: 0;
}

body{                                           /*making changes to the whole body*/
    background-color: #f7f7ff;
    font-family: 'Montserrat', sans-serif;
    color: #333131;
    line-height: 1.4;
}

.logo{                                           /* adjusting the logo to make it fit in*/
    width: 120px;
    height: auto;
    position: absolute;
    left: 5%;
    top: 2%;
}

.content{                                       /*compensation for the absolute positioning of the logo*/
    padding-top: 25%;
}

header,main{                                    /*applying margins to the content*/
    margin: 2rem;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3.5rem;
}

p{
    font-size: 2rem;
}
p.form-text, form.application input{
    font-size: 1.4rem;
}

.application{                                   /*styling the html form*/
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 5px 10px 20px #a5a1a1;
    padding: 2rem;
}

form.application input{                         
    display: block;
    padding: 1rem 0 1rem 0.5rem;
    margin: 1rem 0;
    border-radius: 15px;
    width: 100%;
    border: none;
    background-color: #eeeeee;

}

form #agreement{                        /*styling a specific checkbox*/
    display: inline;
    width: 2rem;
    margin:0;
}

 form button{                           /*styling all buttons inside a form*/
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 15px;
    width: 100%;
    border: none;
    background-color: #57eeab;
}

#dwu{                                   /*styling a specific button*/
    font-size: 2.5rem;
    font-weight: 700;
}

a{
    color: #ff8480;                         /*styling all the links*/
}

#application-status{
    font-size: 1rem;
}

footer{
    background-color: #fffd8c;
}                                               /*styling the footer content*/
.footer-content{
    margin: 2rem 2rem 0 2rem;
    padding: 1rem 0;
}

h4{
    font-size: 2rem;
}

.calculator input{                                      /*styling the second html form*/
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 15px;
    border: none;
    background-color: #fff;
}
#hours{
    width: 20%;
    font-size: 1.5rem;
}
#city{
    width: 60%;
    font-size: 1.5rem;
}
#calculate{
    background-color: #ff8480;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}

i{
    margin: 3rem;                   /*styling the icons*/
}

@media(min-width: 800px){               /*first media query*/
    header,main{
        margin: 5rem;
    }
    .footer-content{
        margin: 5rem 5rem 0 5rem;
    }
    #hours{
        width: 10%;
    }
    #city{
        width: 40%;
    }
    #calculate{
        width: 30%;
        display: inline;
    }
    #application-status{
        text-align: center;
        font-size: 1.2rem;
    }
    .content{
        padding-top: 10%;
    }
}

@media(min-width: 1200px){              /*second media query*/
    #bg-image{
        visibility: hidden;
    }
    body{
        background-image: url(../img/bg-image/scooter.svg);             /*setting a background image*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: 55rem auto;
    }
    .content,.footer-content{                           /*creating a grid layout*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25rem;
    }
    
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    
    p{
        font-size: 1.4rem;
    }
    p.form-text, form.application input{
        font-size: 1rem;
    }

    h4{
        font-size: 1.4rem;
    }
    .content{
        padding-top: 10%;
    }
    .footer-content{
        grid-gap: 3rem;
    }
    .social{
        justify-self: right;
        align-self: center;
    }
}