
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

*{                                                                  /*removing magins and padding from all elements*/
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    margin: auto;
}

header{
    background-image: url(../img/header-bg.jpg);                /*setting a banner as background image*/
    background-size: cover;
    background-position: center;
    padding: 5rem 6rem;
}

h1{
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}
header h1{
    background-color: rgba(0, 0, 0, 35%);
    padding: 1rem 0;
    border-radius: 10px;
    color: white;
}

li{
    list-style-type: none;                                          /*removing all the bullet points from list items*/
}

nav ul li a{
    font-weight: bolder;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    padding: 1rem;
}

nav ul li a:link,
nav ul li a:visited,a{                                                /*styling the navigation bar when in link and visited states*/
    text-decoration: none;
    background-color: black;
    color: white;
    transition: 0.2s;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a.currentpage                                           /*styling the navigation bar when in hover and active states.*/
{
    background-color: rgb(226, 226, 226);
    color: black;
    transition: 0.2s;
    text-decoration: underline;
}

h4{
    margin: 0 auto 2rem auto;
}

.blackdiv{
    background-color: black;
    color: white;
}

.content{
    padding: 4rem;
    text-align: center;
}

#white-button{
    background-color: white;
    color: black;
}

.buttons{
    padding: 1rem;
    margin: 1rem auto 3rem auto;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
}

footer{
    color:white;
    background-color: black;
    text-align: center;
    padding: 1.5rem;
}

footer ul li{
    margin: 1rem;
}

.footer-links{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.about{
    margin: 2.5rem 1rem 2.5rem 1rem;
}

.contact{
    text-align: center;
    margin: 2rem;
}

@media(min-width: 768px){                                        /*setting the first breakpoint*/
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;                     /*using css grid to create an interesting layout*/
    }

    header{
        padding: 8rem 12rem;
    }

    h1{
        font-size: 2rem;
    }

    .content{
        font-size: 1.4rem;
        padding: 7rem;
    }

    footer div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .about{
        margin: 5rem 4rem 5rem 4rem;
    }
}

@media(min-width: 1000px){                                  /*setting second breaking point*/
    .box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #white-button{
        padding: 2rem 8rem;
    }
    .buttons{
        padding: 2rem 3rem;
    }

    h1{
        font-size: 2.2rem;
    }

    .content{
        font-size: 1.8rem;
    }

    .contact-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 4rem;
    }
}